body{
  background-color: whitesmoke;
}


.Register-box{
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  height: 800px;
  align-items: center;
}
.left{
  background-color:#3eb599;
  height: 400px;
  width: 350px;
}
.right{
  background-color:white;
  height: 400px;
  width: 500px;
}
#register-heading{
  color:white;
  padding-top: 6rem;
  text-align: center;

}
#register-form-content{
  padding-top: 8rem;
  padding-left: 5rem;
}
.form-control{
  width: 20rem;
  height: 30px;
  margin-top: 1rem;
}
.btn{
  width: 20.5rem;
  height: 30px;
  margin-top: 1rem;
  background-color: #3eb599;
  color: white;
}
.para1{
  color: white;
  text-align: center;
}
.btn1{
  width: 10rem;
  height: 30px;
  margin-top: 1rem;
  background-color: #3eb599;
  color: white;
  border-radius:3rem;
  margin-left: 5.5rem;
  margin-top: 1.9rem;
}
.label1{
  font-size: larger;
  text-align: center;
  margin-left: 6rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.label2{
  font-size: larger;
  text-align: center;
  margin-left: 8rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-box{
  background-color: whitesmoke;
  justify-content: center;
  height: 800px;
  align-items: center;
  padding-left: 40rem;
}
.Navbar{
  display: flex;
  justify-content: space-around;
}
/* NavLink{
  padding-block: 5rem;
} */

.nav{
float: left;
padding-left: 4rem;
display: flex;
text-decoration: none;
}
.banner{
  background-image: url('./assets/Narre.jpg');
  height: 40rem;
  background-size: cover;
}
.h2{
  color: white;
  text-align: center;
  padding-top: 20rem;
}

.btn2{
  text-align: center;
  width: 10rem;
  height: 30px;
  margin-top: 1rem;
  background-color: #3eb599;
  color: white;
  border-radius:30rem;
  margin-left: 48rem;
  margin-top:-20.9rem;

}
.btn3{
  text-align: center;
  width: 10rem;
  height: 30px;
  margin-top: 1rem;
  background-color: #3eb599;
  color: white;
  border-radius:30rem;
  margin-left: 2.5rem;
  margin-top:-20.9rem;
}
.banner-btns{
  align-items: center;
  margin-left: 7rem;
  padding-left: 9rem;
  justify-content: center;
}
.Rooms{
  display: flex;
  justify-content: center;
}
.Cart{
  background-color: white;
  border-radius: 5px;
  width:320px;
  height: 350px;
  margin-left: 3%;
}

.cart-img{
  width: 320px;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  justify-content: center;  
}
.bi-bi-wifi{
  margin-top: -8.5rem;
  margin-left: 7.6rem;
}


